body {
  color: #28283d;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

html {
  font-size: 62.6%; }

.header__button {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 12rem; }

.btn {
  background-color: #4d96a9;
  padding: 16px 40px;
  border-radius: 50px;
  display: block;
  color: #fafafa;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem; }
  .btn:hover {
    opacity: 0.8; }

.primary-span {
  color: #8fe3f9; }

.button-secondary {
  background-color: #855fb1; }

@media (min-width: 990px) {
  .header__button {
    flex-direction: row; } }

.number {
  border: 1px solid rgba(40, 40, 61, 0.4);
  border-radius: 183px;
  width: 4.1rem;
  height: 4.1rem;
  line-height: 67px;
  position: relative;
  margin: 147px 0 32px;
  display: flex;
  align-items: center;
  justify-content: center; }

.number::before {
  content: "";
  width: 1px;
  height: 104px;
  background-color: rgba(40, 40, 61, 0.4);
  position: absolute;
  bottom: 100%;
  left: 50%; }

.footer__number {
  position: absolute;
  /* transform: translateY(-56px);
  transform: translateX(-50px); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #fff;
  margin: 0; }

.descripntion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 177px;
  padding: 0 15px;
  text-align: center; }
  .descripntion__title {
    color: #4d96a9;
    margin-top: 36px;
    font-size: 2.3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800; }
  .descripntion__sub-title {
    font-size: 44px;
    font-weight: 800;
    line-height: 1; }
  .descripntion__pragraph {
    font-size: 1.7rem;
    color: #87879d;
    line-height: 1.5; }

@media (min-width: 990px) {
  .descripntion {
    padding: 0 469px; }
    .descripntion__sub-title {
      font-size: 53px; } }

.footer {
  position: relative;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url("../../assets/mobile/image-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .footer__content {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr;
    padding: 129px 12px; }
  .footer__title {
    font-weight: 800;
    font-size: 38px; }
  .footer__sub-title {
    font-size: 21px;
    font-weight: normal;
    padding: 0 35px;
    margin-bottom: 46px; }

@media (min-width: 768px) {
  .footer {
    background-image: linear-gradient(to right, rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url("../../assets/tablet/image-footer.jpg"); } }

@media (min-width: 990px) {
  .footer {
    background-image: linear-gradient(to right, rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url("../../assets/desktop/image-footer.jpg"); }
    .footer__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      padding: 129px 12px;
      gap: 83px; }
    .footer__sub-title {
      font-size: 17px; } }

.header {
  text-align: center; }
  .header__logo {
    height: 30px;
    margin-bottom: 4rem;
    margin-top: 8rem; }
  .header__content {
    font-weight: 700; }
  .header__text-title {
    font-size: 6rem;
    font-weight: 800;
    line-height: 1; }
  .header__text-sub-title {
    font-size: 2rem;
    font-weight: normal;
    color: #87879d;
    padding: 0 6.3rem; }

.big-img {
  width: 100%;
  margin-bottom: 4rem; }

.right-img {
  display: none; }

.left-img {
  display: none; }

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (min-width: 990px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 25fr 1fr;
    margin-top: 2rem; }
  .big-img {
    display: none; }
  .right-img {
    display: block; }
  .left-img {
    display: block; } }

.img-display {
  text-align: center; }
  .img-display .image {
    width: 177px;
    border-radius: 9px;
    margin: 6px; }

@media (min-width: 990px) {
  .img-display {
    display: flex;
    justify-content: center;
    gap: 9px; }
    .img-display .image {
      width: 265px;
      border-radius: 9px;
      margin: 6px; } }

body {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  background-color: #fafafa; }

.main-container {
  margin: 0 auto;
  /* max-width: 990px;  */
  text-align: center; }
  .main-container .logo {
    margin: 88px 0 56px; }
