@use "/sass/abstract/varibles.scss";
body {
  padding: 0px;
  margin: 0;
  box-sizing: border-box; }

.main-container {
  margin: 0 auto;
  /* max-width: 990px;  */
  text-align: center; }
  .main-container .logo {
    margin: 88px 0 56px; }

.header__img-big-img {
  width: 100%; }
.header__img-container {
  display: none; }
@media screen and (min-width: 1070px) {
  .header__img-big-img {
    display: none; }
  .header__img-container {
    display: flex;
    justify-content: space-between;
    position: relative; } }
.header__text-title {
  padding: 0px 60px; }
.header__text-sub-title {
  margin: 0px 0 42px; }
@media screen and (min-width: 1070px) {
  .header__content {
    top: 228px;
    left: 379px;
    position: absolute; }
  .header__text-title {
    margin-left: 94px;
    font-weight: bolder;
    width: 15rem; }
  .header__text-sub-title {
    margin: 0px 415px 42px 25px; } }

@media screen and (min-width: 1070px) {
  header {
    display: flex;
    flex-direction: column; } }
@use "/sass/abstract/varibles.scss";
body {
  background-color: #FAFAFA;
  color: #28283D;
  font-family: "Red Hat Display", "san serif"; }

.header__text-title {
  color: black;
  font-size: 34px; }
.header__text-sub-title {
  color: #87879D;
  font-weight: 500;
  font-size: 22px; }

.img-display .image {
  width: 137px;
  border-radius: 9px;
  margin: 6px; }

@media screen and (min-width: 1070px) {
  .img-display {
    display: flex;
    justify-content: center;
    gap: 9px; }

  .image {
    width: 232px; } }
@use "/sass/abstract/varibles.scss";
.btn {
  background-color: #4D96A9;
  padding: 12px 22px;
  border-radius: 50px;
  display: block;
  color: #FAFAFA;
  text-decoration: none;
  font-weight: 500; }
  .btn:hover {
    opacity: 0.8; }

@media screen and (min-width: 836px) {
  .btn {
    display: inline-block;
    padding: 15px 0px; } }
.button-primary {
  width: 32%;
  margin: 15px auto; }
  .button-primary .primary-span {
    color: #8FE3F9;
    margin-left: 2px; }

.button-secondary {
  background-color: #855FB1;
  width: 19%;
  margin: 0 auto; }

@media screen and (min-width: 836px) {
  .button-primary {
    width: 213px;
    margin-right: 14px; } }
@media screen and (min-width: 1070px) {
  .button-secondary {
    width: 11%; }

  .button-secondary {
    width: 186px; } }
.footer__button {
  width: 79%; }

@media screen and (min-width: 836px) {
  .footer__button {
    width: 213px;
    margin-right: 14px; } }
.footer-span {
  color: #D9B8FF;
  margin-right: 2px; }

@use "/sass/abstract/varibles.scss";
.number {
  border: 1px solid rgba(40, 40, 61, 0.4);
  border-radius: 183px;
  width: 4.1rem;
  height: 4.1rem;
  display: inline-block;
  /* padding: 5px; */
  /* text-align: center; */
  line-height: 67px;
  position: relative;
  margin: 147px 0 32px; }

.number::before {
  content: "";
  width: 1px;
  height: 104px;
  background-color: rgba(40, 40, 61, 0.4);
  position: absolute;
  bottom: 100%;
  left: 50%; }

.footer__number {
  position: absolute;
  transform: translateY(-56px);
  transform: translateX(-50px);
  z-index: 1000;
  background-color: #fff;
  margin: 0; }

@use "/sass/abstract/varibles.scss";
.descripntion__title {
  color: #4D96A9; }
.descripntion__sub-title {
  font-weight: bold;
  font-size: 30px;
  padding: 0 35px; }
.descripntion__pragraph {
  font-weight: 500;
  font-size: 17px;
  margin: 0 5px;
  color: #87879D;
  margin: 12px 0 147px; }
@media screen and (min-width: 1070px) {
  .descripntion__pragraph {
    padding: 0px 417px; } }

@use "/sass/abstract/varibles.scss";
.footer {
  position: relative;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url(/assets/mobile/image-footer.jpg) no-repeat center center/cover;
  padding: 4.6rem 0.5rem 7.4rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__title {
    font-size: 35px;
    font-weight: 800;
    padding: 0 71px;
    line-height: 1.2; }
  .footer__sub-title {
    font-weight: 100;
    padding: 0 60px; }

@media screen and (min-width: 836px) {
  .footer {
    background: linear-gradient(to right, rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url(/assets/tablet/image-footer.jpg) no-repeat center center/cover; } }
@media screen and (min-width: 1070px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(to right, rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url(/assets/desktop/image-footer.jpg) no-repeat center center/cover; }

  .footer__title {
    width: 332px;
    padding: 0; }

  .footer__sub-title {
    width: 332px;
    padding: 0; } }
.footer-space {
  padding: 22px 0 0; }

/*# sourceMappingURL=style.css.map */
