.footer {
  position: relative;
  color: $color-white;
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
      to right,
      rgba($color-primary, 0.9),
      rgba($color-primary, 0.9)
    ),
    url("/meet-landing-page-main/assets/mobile/image-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 129px 12px;
  }
  &__title {
    font-weight: 800;
    font-size: 38px;
  }

  &__sub-title {
    font-size: 21px;
    font-weight: normal;
    padding: 0 35px;
    margin-bottom: 46px;
  }
}

@media (min-width: 768px) {
  .footer {
    background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.9),
        rgba($color-primary, 0.9)
      ),
      url("/meet-landing-page-main/assets/tablet/image-footer.jpg");
    margin-bottom: 12rem;
  }
}

@media (min-width: 990px) {
  .footer {
    background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.9),
        rgba($color-primary, 0.9)
      ),
      url("/meet-landing-page-main/assets/desktop/image-footer.jpg");

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      padding: 87px 12px;
      gap: 83px;
    }
    &__sub-title {
      font-size: 17px;
    }
  }
}
