.img-display {
  text-align: center;
  .image {
    width: 177px;
    border-radius: 9px;
    margin: 6px;
  }
}
@media (min-width: 990px) {
  .img-display {
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-top: 2rem;

    .image {
      width: 265px;
      border-radius: 9px;
      margin: 6px;
    }
  }
}
