@use  "/sass/abstract/varibles.scss";
.descripntion{

    &__title{
        color: $color-primary;
    }

    &__sub-title{
        font-weight: bold;
        font-size: 30px;
        padding: 0 35px;
    }

    &__pragraph{
        font-weight: 500;
    font-size: 17px;
    margin: 0 5px;
    color: $color-grey;
    margin: 12px 0 147px;
  
    }
    @media screen and (min-width: 1070px){
        &__pragraph{
            padding: 0px 417px;
         }
    }

}