
.header{

    &__img{
    


     &-big-img{
         width: 100%;
     }
        &-container{
            display: none;
        }
    }

    @media screen and (min-width: 1070px) {
        
        &__img{
    
            &-big-img{
                display: none;
            }
               &-container{
                 display: flex;
                 justify-content: space-between;
                 position: relative;
               }
           }
    }

    &__text-title{
        
         padding: 0px 60px;
        
    }
    

    &__text-sub-title{
        margin: 0px 0 42px;
    }

    @media screen and (min-width: 1070px) {
       &__content{
           top: 228px;
           left: 379px;
         position: absolute;
           
       }

       &__text-title{
        margin-left: 94px;
       font-weight: bolder;
    width: 15rem;
       
   }
   &__text-sub-title{
    margin: 0px 415px 42px 25px;
   }
   
         
    }
}

@media screen and (min-width: 1070px) {
    header{
        display: flex;
        flex-direction: column;
    }
}