

.img-display{
    

    .image{
        width: 137px;
         border-radius: 9px;
         margin: 6px;
    }
}
@media screen and (min-width: 1070px) {
    .img-display{
       display: flex;
       justify-content: center;
       gap: 9px;
    }

    .image{
        width: 232px;
    }
}