
$color-primary: #4D96A9;
$color-primary-light: #8FE3F9;
$color-sub-primary: #855FB1;
$color-sub-primary-light: #D9B8FF;

$color-dark: #28283D;
$color-grey: #87879D;

$color-white: #FAFAFA;

///font
$font-defualt: "Red Hat Display", "san serif";