.header__button {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 12rem;
}

.btn {
  background-color: $color-primary;
  padding: 16px 40px;
  border-radius: 50px;
  display: block;
  color: $color-white;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;

  &:hover {
    opacity: 0.8;
  }
}
.primary-span {
  color: $color-primary-light;
}

.button-secondary {
  background-color: $color-sub-primary;
}

@media (min-width: 990px) {
  .header__button {
    flex-direction: row;
  }
}
